body{
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    color: white;
    text-decoration: none;
    display: inline-block;
   

}
main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards-container{
    color: yellow;
    margin: 1.5rem;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    width: 900px;
    /* margin-inline: auto; */
}

.card{
    padding: 3rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* flex-basis: 100%; */
}
.card img{
    width: 64px;
    height: 40px;
}

.card h2{
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 32px;
}

.card p{
    opacity: 0.7;
    line-height: 1.75;
    margin-bottom: 2.5rem;
}

.card a{
    border: 2px solid white;
    padding: 1em 2em ;
    border-radius: 2em;
    margin-top: auto;
    /* align-self: flex-start; */
    margin-right: auto;
    
}
.orange-card{
    background-color: #E28525;
    /* border-top-left-radius: 8px;
    border-top-right-radius: 8px; */
    
}
.green-card{
    background-color: #016972;
}
.darkgreen-card{
    background-color: #00403F;
    /* border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; */
    
}

@media (max-width: 850px){
    .cards-container{
        flex-direction: column;
        max-width: 400px;
    }
    .card{
        /* width: auto; */
        width: unset;
        width: auto;
    }
}